<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>APP下载</title>
  <style>
        .button {text-align:center;}
        .ios {margin-top:960px;}
        .button a {display:block;width:100%;}
        .button img {width:690px;height:120px;}
        .android {margin-top:20px;}

    </style>

 </head>
 <body style="background-image:url('/static/public/img/1.jpg') ;background-attachment:fixed;background-repeat:no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;">
  <div class="container2">
   <div class="button ios">
    <a href="http://itunes.apple.com/us/app/incoco/id1165318886/" target="view_window"> <img src="/static/public/img/bt1.jpg" /> </a>
   </div>
   <div class="button android">
    <a href="http://www.win-girl.com/INCOCO/INCOCO.apk"> <img src="/static/public/img/bt2.jpg" /> </a>
   </div>
  </div>
  <!-- <a onclick="a()" href="http://itunes.apple.com/us/app/incoco/id1165318886/"></a> -->
 </body>
</html>
