<!DOCTYPE html>
<html>
<head>
<title>Welcome to powersaver!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Welcome to powersaver!</h1>
<p>If you see this page, the powersaver web server is successfully installed and
working. Further configuration is required.</p>

<p>For config powersaver, please refer to
<a href=/powersaver>config page</a>.<br/>


<p><em>Thank you for using powersaver.</em></p>
</body>
</html>
