<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>

    <link href="static/public/css/bootstrap.min.css" rel="stylesheet">
    <!--bootstrap-table-->
    <link rel="stylesheet" href="static/public/css/bootstrap-table.min.css">
    <link rel="stylesheet" href="static/public/css/bootstrap-editable.css">

    <script src="static/public/js/jquery.min.js"></script>
    <script src="static/public/js/bootstrap.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/public/js/bootstrap-table.js"></script>
    <script src="static/public/js/bootstrap-table-editable.js"></script>
    <script src="static/public/js/bootstrap-editable.js"></script>
    <script src="static/public/js/bootstrap-table-export.js"></script>

    <style>
        .container {
            width: auto;
            margin-left: 180px;
            margin-right: 180px;
        }​
        input[type="checkbox"] {
            font-family: 宋体;
            font-size: 12px;
            color: #000000;
            border: 0px;
            background-color: #DBFBF7;
        }
    </style>
</head>

<body>

<script type="text/javascript">
    $(function() {
        var offset = $("#floatingSubmit").offset();
        var topPadding = 180;
        $(window).scroll(function() {
            if ($(window).scrollTop() > offset.top) {
                $("#floatingSubmit").stop().animate({
                    marginTop: $(window).scrollTop() - offset.top + topPadding
                },0);
            } else {
                $("#floatingSubmit").stop().animate({
                    marginTop: 0
                },0);
            };
        });
    });
</script>
<style type="text/css">
    #floating-box {
        position: relative;
    }
    #floatingSubmit {
        position: absolute;
        top: 180px;
        left: 1700px;
        border: 0px solid #B5076D;
        padding: 0 10px 10px 10px;
        width: 200px;
        background-color: #FFF;
    }
</style>
<div id="floating-box">
    <div id="floatingSubmit" class="col-xs-2">
        <button id="floatingSubmitBtn" class="btn btn-info btn-lg" type="button">提交</button>
    </div>
</div>

<div class="container">
    <h1>bucket配置 <small><a href="/">返回首页</a></small></h1>
    <div class="row">
        <div class="col-xs-8">
            <h3>用户名: {{c['username']}}</h3><hr/>
        </div>
    </div>
    <div class="row" style="margin-bottom:12px">
        <div class="col-xs-2">
            <select class="form-control" id="regionSelect"></select>
        </div>
        <div class="col-xs-2">
          <select class="form-control" id="bucketSelect"></select>
        </div>
        <div class="col-xs-1">
          <select class="form-control" id="prioritySelect"></select>
        </div>
        <div class="col-xs-1">
            <button id="exportConfigBtn" class="btn btn-info" type="button">导出配置</button>
        </div>
        <div class="col-xs-5">
            <div class="input-group">
                <span class="input-group-addon">导入配置</span>
                <input type="file" id="files" class="form-control" name="files[]" multiple/>
                <span class="input-group-btn">
                    <input id ="importConfigBtn" class="btn btn-info" type="submit" value="开始导入" />
                </span>
            </div>
        </div>
        <div class="col-xs-1">
            <button id="allSubmitBtn" class="btn btn-info" type="button">全部提交</button>
        </div>
    </div>

    <div class="row" style="margin-bottom:12px">
        <div class="col-xs-12" >
            <table width="100%" class="table table-bordered table-hover" id="priorityList">
                <tr id="priorityTemplate1">
                <td>
                <table  class="table table-bordered table-hover" id="featureList">
                    <thead>
                        <tr>
                            <th class="text-center">priority</th>
                            <th width="16%" class="text-center">type</th>
                            <th width="5%" class="text-center">smode</th>
                            <th width="5%" class="text-center">doze</th>
                            <th width="5%" class="text-center">idle</th>
                            <th width="5%" class="text-center">standby</th>
                            <th width="5%" class="text-center">ble_scan</th>
                            <th width="5%" class="text-center">frozen</th>
                            <th width="4%" class="text-center">sensor</th>
                            <th width="4%" class="text-center">data</th>
                            <th width="4%" class="text-center">gps</th>
                            <th class="text-center">delay</th>
                            <th class="text-center">dcount</th>
                            <th class="text-center">data_kb</th>
                            <th class="text-center">in_count</th>
                            <th class="text-center">g_delay</th>
                            <th class="text-center">s_delay</th>
                            <th class="text-center">k_delay</th>
                            <th width="10%" class="text-center">edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" style="text-align:center" class="form-control" name="priority"/></td>
                            <td><input type="text" style="text-align:center" class="form-control" name="type"/></td>
                            <td><input type="checkbox"  class="form-control" unchecked name="hide_mode"/></td>
                            <td><input type="checkbox"  class="form-control" unchecked name="idle_mode"/></td>
                            <td><input type="checkbox"  class="form-control" unchecked name="miui_idle"/></td>
                            <td><input type="checkbox"  class="form-control" unchecked name="miui_standby"/></td>
                            <td><input type="checkbox"  class="form-control" unchecked name="ble_scan_block"/></td>
                            <td><input type="checkbox"  class="form-control" unchecked name="frozen"/></td>
                            <td><input type="checkbox"  class="form-control" unchecked name="set_sensor"/></td>
                            <td><input type="checkbox"  class="form-control" unchecked name="set_data_connection"/></td>
                            <td><input type="checkbox"  class="form-control" unchecked name="set_location"/></td>
                            <td><input type="text" style="text-align:center" class="form-control" name="app_delay"/></td>
                            <td><input type="text" style="text-align:center" class="form-control" name="set_delay_count"/></td>
                            <td><input type="text" style="text-align:center" class="form-control" name="set_data_kb"/></td>
                            <td><input type="text" style="text-align:center" class="form-control" name="set_inactive_count"/></td>
                            <td><input type="text" style="text-align:center" class="form-control" name="set_location_delay"/></td>
                            <td><input type="text" style="text-align:center" class="form-control" name="sensor_delay"/></td>
                            <td><input type="text" style="text-align:center" class="form-control" name="kill_delay"/></td>
                            <td align="center">
                                <button class="btn btn-danger deletePriority" ><i class="glyphicon glyphicon-minus"></i></button>
                                <button class="btn btn-success addPriority" ><i class="glyphicon glyphicon-plus"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">系统外围apps</td>
                            <td colspan="20"><input type="text" style="text-align:center" class="form-control" name="no_core_system_apps"/></td>
                        </tr>
                        <tr>
                            <td class="text-center">音乐apps</td>
                            <td colspan="20"><input type="text" style="text-align:center" class="form-control" name="music_apps"/></td>
                        </tr>
                        <tr>
                            <td class="text-center">极致apps</td>
                            <td colspan="20"><input type="text" style="text-align:center" class="form-control" name="level_ultimate_special_apps"/></td>
                        </tr>
                        <tr>
                            <td class="text-center">ble_scan_param</td>
                            <td colspan="20"><input type="text" style="text-align:center" class="form-control" name="ble_scan_param"/></td>
                        </tr>
                        <tr>
                            <th rowspan="2">FeedBackControl</th>
                            <th width="5%" class="text-center">hot_fb</th>
                            <th width="5%" class="text-center">net_fb</th>
                            <th class="text-center">g_delay_hot</th>
                            <th class="text-center">k_delay_hot</th>
                        </tr>
                        <tr>
                            <td><input type="checkbox"  class="form-control" unchecked name="hot_feedback"/></td>
                            <td><input type="checkbox"  class="form-control" unchecked name="network_feedback"/></td>
                            <td><input type="text" style="text-align:center" class="form-control" name="location_delay_hot"/></td>
                            <td><input type="text" style="text-align:center" class="form-control" name="kill_delay_hot"/></td>
                        </tr>
                    <tbody>
                </table>
                </td>
             </tr>
             <tr id="priorityTemplate2">
                <td>
                    <table id="appList" data-toggle="table"
                        data-pagination="true"
                        data-search="true"
                        data-show-refresh="true"
                        data-show-toggle="true"
                        data-show-export="true"
                        data-page-size="15"
                    >
                    </table>
                </td>
             </tr>
        </table>
    </div>
</div>

</div>


<script>
function cloneOwn() {

  var obj = arguments[0];
  if (typeof obj === 'undefined' || obj === null)
      return {};

  if (typeof obj !== 'object')
      return obj;

  //第二个参数是属性名称列表，就采用该列表进行刷选
  //否则就克隆所有属性
  var attrs = arguments[1];
  var enable_spec_attr = true;
  if (!(attrs instanceof Array)) {
      //console.log(attrs);
      attrs = obj;
      enable_spec_attr = false;
  }

  var result = {};
  var i;
  for (i in attrs) {
      attr = enable_spec_attr? attrs[i]: i;
      //console.log(attr);
      if (obj.hasOwnProperty(attr)) {
          if (obj[attr] instanceof Array) {
              result[attr] = cloneArray(obj[attr]);
          }
          else if (typeof obj[attr] === 'object') {
              result[attr] = cloneOwn(obj[attr]);
          } else {
              result[attr] = obj[attr];
          }
      }
  }

  return result;
}

var app_default_data = {
    number: '',
    app_name: '',
    set_data_connection: false,
    set_location: false,
    app_delay: '',
    set_delay_count: '',
    set_data_kb: '',
    set_inactive_count: '',
    set_location_delay: '',
    sensor_delay: '',
    kill_delay: '',
    location_delay_hot: '',
    kill_delay_hot: '',
};

var app_columns = [
{
    title: 'No.',
    field: "number",
    align: 'center',
    valign: 'middle',
    width:"5%",
},
{
    title: 'app',
    field: "app_name",
    align: 'center',
    valign: 'middle',
    editable: true,
    width:"5%",
},
{
    title: 'data',
    field: "set_data_connection",
    align: 'center',
    valign: 'middle',
    formatter: "checkboxFormatter",
    width:"8%",
},
{
    title: 'gps',
    field: "set_location",
    align: 'center',
    valign: 'middle',
    formatter: "checkboxFormatter",
    width:"8%",
},
{
    title: 'delay',
    field: "app_delay",
    align: 'center',
    valign: 'middle',
    editable: true,
    width:"5%",
},
{
    title: 'dcount',
    field: "set_delay_count",
    align: 'center',
    valign: 'middle',
    editable: true,
    width:"5%",
},
{
    title: 'data_kb',
    field: "set_data_kb",
    align: 'center',
    valign: 'middle',
    editable: true,
    width:"5%",
},
{
    title: 'in_count',
    field: "set_inactive_count",
    align: 'center',
    valign: 'middle',
    editable: true,
    width:"5%",
},
{
    title: 'g_delay',
    field: "set_location_delay",
    align: 'center',
    valign: 'middle',
    editable: true,
    width:"5%",
},
{
    title: 's_delay',
    field: "sensor_delay",
    align: 'center',
    valign: 'middle',
    editable: true,
    width:"5%",
},
{
    title: 'k_delay',
    field: "kill_delay",
    align: 'center',
    valign: 'middle',
    editable: true,
    width:"5%",
},
{
    title: 'g_delay_hot',
    field: "location_delay_hot",
    align: 'center',
    valign: 'middle',
    editable: true,
    width:"5%",
},
{
    title: 'k_delay_hot',
    field: "kill_delay_hot",
    align: 'center',
    valign: 'middle',
    editable: true,
    width:"5%",
},
{
    title: 'option',
    field: "op",
    align: 'center',
    valign: 'middle',
    width:"10%",
    formatter: "operateFormatter",
    events: "operateEvents",
},
];

function operateFormatter(value, row, index) {
    // console.log(value);
    // console.log(row);
    // console.log('index:' + index);
    return [
        '<a class="insert" href="javascript:void(0)" title="Insert">',
        '<i class="glyphicon glyphicon-plus"></i>',
        '</a>  ',
        '<a class="remove" href="javascript:void(0)" title="Remove">',
        '<i class="glyphicon glyphicon-minus"></i>',
        '</a>'
    ].join('');
}

window.operateEvents = {

    'click .insert': function (e, value, row, index) {
        console.log('You click like action, row: ' + JSON.stringify(row));
        $("#appList").bootstrapTable('insertRow', {index: index, row: app_default_data});
    },
    'click .remove': function (e, value, row, index) {
        console.log(row);
        if (confirm("確定刪除吗？")) {
            $("#appList").bootstrapTable('remove', {
                field: 'app_name',
                values: [row.app_name]
            });
        }
    }
};

$("#appList").bootstrapTable({columns:app_columns});

// start
var regions = {{c['regions']}};
var buckets = {{c['buckets']}};
var gAllPrioritiesData;
var gAddPriority = false;

console.log('regions', regions);
console.log('buckets', buckets);

var refresh = function() {
    popRegions(regions);
    popBuckets(null, buckets);
}

refresh();

function checkboxFormatter(value) {
    return '<input type="checkbox"' + (value ? " checked " : "")  + '>';
}

$('#importConfigBtn').click(function(event) {
    var files = document.getElementById('files').files;
    console.log(files);
    if (files.length > 0) {
       readConfigFile(files);
    } else {
        alert('请选择配置文本文件');
    }
});

function readConfigFile(files) {
    file = files[0];
    var reader = new FileReader();
    reader.onload = (function(theFile) {
        return function(e) {
            var data = this.result;
            try {
                var json = JSON.parse(data);
                // console.log(JSON.stringify(json[0], null, 4));
                clearPriorityList();
                parsePrioritys(json[0]);
                alert("导入成功后并没有提交, 如需保存请全部提交一次!");
                document.getElementById('files').value = "";
            } catch (error) {
                 alert(error.message);
                 alert("导入文件有误!");
                 // popTable();
            }
        };
    })(file);
    reader.readAsText(file);
}

function clearPriorityList() {
    // var table = document.getElementById("priorityList");
    // var total = table.rows.length-2;
    // for(var i=0;i< total;i++) {
    //     table.deleteRow(0);
    // }
};

function parsePrioritys(jsonArray) {
    var prioritys = [];
    var index = 0;
    gAllPrioritiesData = jsonArray;
    jsonArray.forEach(function(obj) {
        prioritys[index++] = obj.priority;
    });
    popPrioritys(prioritys);
}

function popPrioritys(prioritys) {
    var select = $('#prioritySelect');
    select.empty();
    $.each(prioritys, function() {
        select.append($('<option/>').val(this).text(this));
    });
    $('#prioritySelect').val(prioritys[0]);
    popTable();
};

function popTable(region, bucket, priority) {
    region = region || $('#regionSelect').val();
    bucket = bucket || JSON.parse($('#bucketSelect').val());
    priority = priority || $('#prioritySelect').val();
    if (!bucket) {
        clearPriorityList();
        return;
    }
    //console.log(JSON.stringify(res.data, null, 4));
    clearPriorityList();
    if (bucket.bucket == 'md5') {
        alert(JSON.stringify(gAllPrioritiesData, null, 4));
        $('#submit').attr('disabled',true);
        return;
    } else {
        $('#submit').attr('disabled',false);
    }
    if (gAllPrioritiesData.length === 0) {
        addPriority();
    } else {
        fillPriorityList(gAllPrioritiesData, priority);
    }
};

function popRegions(regions) {
    var select = $('#regionSelect');
    $.each(regions, function(index, value) {
        if (value == 'power') {
            select.append($('<option/>').val(this).text(this));
        }
    });
    $('#regionSelect').val(regions[0]);
};

function popBuckets(region, buckets) {
    var region = region || $('#regionSelect').val();
    var bucketList = buckets[region];
    var select = $('#bucketSelect');
    select.empty();
    $.each(bucketList, function() {
        select.append($('<option/>').val(JSON.stringify(this)).text(this.bucket));
    });

    // getServerConfig();
};

function fillPriorityList(jsonArray, priority) {
    jsonArray.forEach(function(obj) {
        if (priority == obj.priority) {
            addPriority(obj.priority, obj.type, obj.result);
        }
    });
};

function addPriority(priority, type, result) {
    clearPriorityList();

    var appTable = $("#appList")[0];
    console.log(appTable);
    if (priority) {
        var featureTable = $("#featureList")[0];
        fillFeatureTable(featureTable, priority, type, result);
        console.log('fillAppTable');
        fillAppTable(appTable, result);
    } else {
        addRowToTable(appTable);
    }
    // refreshAppTableNumber(appTable);
    return appTable;
};

function fillFeatureTable(featureTable, priority, type, result) {
    var firstRow = featureTable.rows[1];
    var secondRow = featureTable.rows[2];
    var thirdRow = featureTable.rows[3];
    var fourthRow = featureTable.rows[4];
    var fifthRow = featureTable.rows[5];
    var seventhRow = featureTable.rows[7];
    console.log(typeof result);
    var obj = JSON.parse(result);
    // var obj = eval ("(" + result + ")"); // 这个也可以转换, 但上面的更友好
    $(firstRow).find('[name="priority"]').val(priority);
    $(firstRow).find('[name="type"]').val(type);
    $(firstRow).find('[name="hide_mode"]').prop('checked', obj.hide_mode);
    $(firstRow).find('[name="idle_mode"]').prop('checked', obj.idle_mode);
    $(firstRow).find('[name="miui_idle"]').prop('checked', obj.miui_idle);
    $(firstRow).find('[name="miui_standby"]').prop('checked', obj.miui_standby);
    $(firstRow).find('[name="ble_scan_block"]').prop('checked', obj.ble_scan_block);
    $(firstRow).find('[name="frozen"]').prop('checked', obj.frozen);
    $(secondRow).find('[name="no_core_system_apps"]').val(obj.no_core_system_apps);
    $(thirdRow).find('[name="music_apps"]').val(obj.music_apps);
    $(fourthRow).find('[name="level_ultimate_special_apps"]').val(obj.level_ultimate_special_apps);
    $(fifthRow).find('[name="ble_scan_param"]').val(obj.ble_scan_param);
    $(seventhRow).find('[name="hot_feedback"]').prop('checked', obj.hot_feedback);
    $(seventhRow).find('[name="network_feedback"]').prop('checked', obj.network_feedback);
    $(seventhRow).find('[name="location_delay_hot"]').val(obj.location_delay_hot);
    $(seventhRow).find('[name="kill_delay_hot"]').val(obj.kill_delay_hot);
    var featureList = obj.feature_list;
    featureList.forEach(function(item){
        var key = '[name="'+item.action_key+'"]';
        var value = item.action_value;
        if (item.action_key == 'set_data_connection' || item.action_key == 'set_location' || item.action_key == 'set_sensor') {
            $(firstRow).find(key).prop('checked', value);
        } else {
            $(firstRow).find(key).val(value);
        }
    });
};

function convertJsonItem(item, index) {
    var data = cloneOwn(app_default_data);
    data['number'] = index;
    data['app_name'] = item.app_name;

    item.action_list.forEach(function(action) {
        data[action.action_key] = action.action_value;
    });

    return data;
}

function fillAppTable(appTable, result) {
    var obj = JSON.parse(result);
    var appList = obj.app_list;
    var dataList = new Array();
    var data;
    var index = 1;
    for (; index < appList.length; index++) {
        data = convertJsonItem(appList[index], index);
        dataList.push(data);
    }
    $("#appList").bootstrapTable('load', dataList);
};

</script>

</body>
</html>


